<!DOCTYPE html>
<html>
<head>
  <title>TodoVue</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'app', :defer => 'true' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" id="mainapp">
  <%= yield %>
</div>
</body>
</html>
